*{
    background-color: rgb(25, 25, 25);
}
.min-width{
    display: none;
}

@media (max-width: 600px) {
    .min-width{
        display: block;
        margin:auto;
        margin-top: 50%; 
    }
    .frame-unity{
        display: none;
    }
}